<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div width="100%">
        <h1 >详情页面</h1>
        <div class="basedata">
            <table onclick="dia()">
                <tr>
                    <th>111</th>
                    <td colspan="5">222</td>
                </tr>
                <tr>
                    <th>111</th>
                    <td colspan="2">222</td>
                    <th>111</th>
                    <td colspan="2">222</td>
                </tr>
            </table>
        </div>
    </div>


</body>
<style type="text/css">
    table,th,td{
        border:1px solid  lightgrey;
        width:100%;

    }
    .basedata{
        padding-left: 5%;
        padding-right: 5%;
    }
</style>
<script src="../js/first_plugin.js"></script>
<script src="../js/second_plugin.js"></script>
<script type="application/javascript">
    // var p = new pluginaa();
    // p.firfunc("my first plugin");
    // p.firfunc();

    var dia = function(){
        console.log(11);
    }


</script>
</html>